node_modules/
.envrc
.idea
**/.yarn/*
.vscode
.DS_Store
**/.history
**/.hypothesis/
npm-debug.log
/build
/coverage
**/tsconfig.build.tsbuildinfo
yarn.lock
/.pnp
.pnp.js
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tgz

/.nyc_output
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.code-workspace
.vscode/*
.expo
/dist
/node_modules
logs
*.log
pnpm-debug.log*
lerna-debug.log*

dockerfiles/base/*.yml
dockerfiles/base/*.json
dockerfiles/base/*.lock
dockerfiles/base/packages