node_modules/
.envrc
.idea
.yarn
.yarnrc.yml
.vscode
.DS_Store
**/.history
**/.hypothesis/
npm-debug.log
/build
/coverage
**/tsconfig.build.tsbuildinfo

/.pnp
.pnp.js
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tgz

/.nyc_output
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.expo
/dist
/node_modules
logs
*.log
pnpm-debug.log*
lerna-debug.log*