export POSTGRES_USER=user
export POSTGRES_DB=database-ollamy
export POSTGRES_HOST=localhost
export POSTGRES_PASSWORD=1234
export POSTGRES_PORT=5432
export
export DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public
export
export SECRET_KEY=GWadF1jb6CkCOi1G6Z7c1yB0VLzgkurC
export
export BACKEND_PORT=3000