POSTGRES_USER=user
POSTGRES_DB=database-ollamy
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5432

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public

SECRET_KEY=GWadF1jb6CkCOi1G6Z7c1yB0VLzgkurC

BACKEND_PORT=3000